{% extends 'base.html.twig' %}


{% block title %}Voiture{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% include "user/index.html.twig" %}



<a class="nav-link" role="button" href="{{ path('addvoiture') }}">Ajouter une voiture</a>
<br/>
<div class="container  row no-gutters ">
        {% for voiture in voitures %}
    <div class="card" style="width: 18rem;">
    <img style="width:100px; height:80px"src="{{asset('assets/img/voiture.svg')}}">
    <div class="card-body">
            <div> Marque : {{voiture.nom}}</div>
            <div> Marque : {{voiture.marque}}</div>
            <div> Modèle : {{voiture.modele}}</div>
            <div> couleur : {{voiture.couleur}}</div>
            <div> immatriculation : {{voiture.immatriculation}}</div>
            <div> distinction : {{voiture.distinction}}</div>
        <a href="{{path('modifvoiture',{'id': voiture.id})}}" class="col btn btn-secondary btn-sm ">Modifier</a>

        <form method="post" class="col" action="{{path('suppvoiture',{'id': voiture.id})}}"
            onsubmit=" return confirm('Voulez-vous vraiment supprimer?')" ;>
            <input type="hidden" name="_method" value='SUP'>
            <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ voiture.id)}}">
            <input type="submit" class="btn btn-danger btn-sm " value="Supprimer">
        </form>
    </div>
    </div>

    {% endfor %}
    </div>
    </div>
{% endblock %}
